body{
	width: 50%;
	margin:auto;
	margin-top:20px;
}
header{
	background-color:grey;
	margin-top:0px;
	padding:2px;
	color:white;
	text-align:center;
}
header h1{
	margin-top:0px;	
}
#feeds{
	border-bottom:solid #CCC 1px;
}
ul li{
	list-style:none;
}
#time{
	color:#666	
}
